
name: 'html/pdf'

on: ["push", "pull_request"]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: create html and pdf
      run: |
        docker-compose -f docker-compose.asciidoctor.yml up

    - name: commit changed files
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add doc/mmd-specification.html
        git add doc/mmd-specification.pdf
        git commit -m "Automatic updated by GitHub Action"

    - name: push code to ${{ github.ref }}
      run: |
        remote_repo="https://${GITHUB_ACTOR}:${{ secrets.GITHUB_TOKEN }}@github.com/${GITHUB_REPOSITORY}.git"
        git push "${remote_repo}" HEAD:${{ github.ref }} --follow-tags

